<div class="container">
  <div class="row">
    <div class="col-12 col-md-10 col-lg-9 mx-auto mt-2 my-4">
      <div class="btn-group">
        <button
          routerLinkActive="active"
          routerLink="/requisicoes/funcionario"
          class="btn btn-outline-primary"
          aria-current="page">
          <i class="pi pi-ticket me-1"></i>Minhas requisições
        </button>
        <button
          routerLinkActive="active"
          routerLink="/requisicoes/departamento"
          class="btn btn-outline-primary"
          aria-current="page">
          <i class="pi pi-inbox me-1"></i>Requisições para meu Departamento
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
